body {
  font-size: 80%;
}

.clicky {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

#bucket-contents {
  overflow: auto;
}

dt {
  font-weight: bold;
}

.success {
  color: green;
}

.warning {
  color: brown;
}

.failure {
  color: red;
}
